
# BEGIN WPForms
# Директиве (редови) између "BEGIN WPForms" и "END WPForms" су динамички
# направљене и требало би да буду измењене само преко Вордпресових филтера.
# Свака измена директива између ових означивача биће преписана.
# Disable access for any file in the cache dir.
# Apache 2.2
<IfModule !authz_core_module>
	Deny from all
</IfModule>

# Apache 2.4+
<IfModule authz_core_module>
	Require all denied
</IfModule>
# END WPForms